  api:
    image: airlance/go:dev
    volumes:
      - ./projects/api:/app
    restart: {{ services_restart_policy }}
    environment:
      RABBITMQ_URL: amqp://hygiene:hygiene@rabbitmq:5672/
      DATABASE_URL: postgres://hygiene:hygiene@db:5432/app?sslmode=disable
      DOMAINS: api.hygiene.localhost
    ports:
      - 2222:8080
    depends_on:
      - rabbitmq
      - minio
      - db